*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
}

html {
  font-size: 16px;
}

body {
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background-image: url('icons/backgrund1.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #ffffff;
  z-index: 999;
}

#root {
  max-width: 960px;
  width: 100%;
  margin: auto;
  padding: 1rem;
  border: 1px solid #0d2934;
  border-radius: 15px;
  background-color: #0d2934;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 1rem;
  font-weight: 600;
  color: #ffffff;
}

p {
  margin-bottom: 1rem;
  line-height: 1.6;
}

button {
  font-family: 'Poppins', sans-serif;
  padding: 0.5rem 1rem;
  border: 1px solid #2f2f2fdb;
  border-radius: 0.25rem;
  background-color: #ece3e3;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

button:hover {
  background-color: #287bff;
  border-color: #287bff;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.05);
}

.header-container {
  text-align: center;
  margin-bottom: 2rem;
  padding-bottom: 1rem;
}

.forecast-container {
  margin-top: 2rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 1rem;
  background-color: #fff;
}

.daily-item {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  border-bottom: 1px solid #ddd;
  padding-bottom: 0.5rem;
}

.daily-details-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.daily-details-grid-item {
  display: flex;
  justify-content: space-between;
  border-radius: 4px;
  padding: 0.5rem;
  background-color: #f9f9f9;
}
