/* Container do cabeçalho */
.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8rem;
  border-radius: 15px;
  padding: 0 2rem; 
  
  
}

/* Título do cabeçalho */
.header-title {
  font-size: 2.5rem;
  color: #ffffff; 
  font-weight: 900; 
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.537); 
  letter-spacing: 3px; 
  text-transform: uppercase; 
}


@media (max-width: 600px) {
  .header-container {
    height: 6rem;
    padding: 0 1rem;
  }

  .header-title {
    font-size: 2rem; 
    letter-spacing: 1px;
  }
}
